.wrapper {
  background: linear-gradient(
    to bottom,
    #051937,
    #0b2545,
    #123254,
    #194062,
    #204e71
  );
  min-height: 100vh;
  height: 100%;
  padding: 60px 0;
}

.content {
  width: 600px;
  margin: 0 auto;
  border-radius: 7px;
  background-color: #fff;
}
